*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.pantalla_dividida{
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.contacts-column{
    width: 35%;
    background-color: #1b1b1b;
    padding: 4px;
    height: 100%;
    overflow-y: auto;
}

.chat{
    width: 65%;
    padding: 4px;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
}
.contacts-column, .chat {
  height: 100vh; /* Que usen todo el alto de pantalla */
}